.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.form-wrapper {
  // padding: 2em;
  // margin-top: 2em;
  border-radius: 0.25em;
  background: white;
}