<div class="header" fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
  <!--<span class = "logo">
      <img src = "{{titleIcon}}"/>
  </span>-->
  <div class="text-logo" fxLayout="column" routerLink="/">TesExa</div>
  <div class="panel" class="panel" fxLayout="row">
    <span *ngIf="!isAuthorized">
      <button mat-stroked-button routerLink="/login">Войти</button>
      <button mat-stroked-button routerLink="/register">Регистрация</button>
    </span>
    <span *ngIf="isAuthorized">
      <span class="userName">{{userName}}</span>
      <button mat-stroked-button (click)="onLogout()">Выйти</button>
    </span>
  </div>
</div>
