.header {
  background: #4a76a8;
  top: 0;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
  align-items: center;
  height: 4vw;
  width: 25vw;
}

.logo IMG {
  height: 3.5vw;
}

.text-logo {
  font-size: 2em;
  margin-left: 4vw;
  color: white;
}

.panel {
  margin-right: 4vw;
  align-items: center;
}

.userName {
  color: white;
  font-weight: bolder;
}

button {
  border: none;
  font-size: 1em;
  font-weight: bold;
  color: white;
}

