.answer {
  margin-bottom: 1%;
}

.answer:hover {
  background: #edeef0;
}

mat-card-content {
  //font-size: 1.3vw;
  font-weight: bold;
}

input {
  font-weight: bold;
}

:host /deep/ .mat-form-field-wrapper { //задаёт отступ input-а
  margin-left: 7%;
}

:host /deep/ .mat-form-field-infix { //задаёт ширину input-а
  width: 30vw;
}
