<form [formGroup]="formGroup">
  <mat-card-content>{{index + '. ' + inputAnsQuestion.questionText}}</mat-card-content>
  <mat-card-actions>
    <mat-form-field>
      <input
        #input
        matInput
        [formControl]="currentAnswer"
        type="text"
        placeholder="Ваш ответ"
        maxlength="40"
        (paste)="$event.preventDefault();"
        (copy)="$event.preventDefault();"
        (cut)="$event.preventDefault();">
    </mat-form-field>
  </mat-card-actions>
</form>
