.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.login-form-header {
  margin: 0;
  margin-bottom: 0.5em;
}

.login-button {
  margin-bottom: 1em;
}

.header-divider {
  margin-bottom: 1em;
}

.help {
  align-self: flex-start;
  margin: 0;
  margin-top: 1em;
  font-weight: lighter;
  font-size: smaller;
}

.help a {
  color: skyblue;
  text-decoration: none;
}

.home {
  text-decoration: none;
  font-size: small;
  color: lightgray;
  text-decoration-line: underline;
}

.home-divider {
  margin-top: 1em;
}

a:hover {
  cursor: pointer;
}

.mat-icon {
  margin: 0;
}

.mat-divider {
  width: 100%;
}

.error {
  color: red;
  font-size: smaller;
}
