<form 
  class="login-form"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>
  <h1 class="login-form-header">Вход</h1>
  <mat-divider class="header-divider"></mat-divider>
  <mat-form-field class="email-field">
    <input
      matInput
      type="email"
      email
      formControlName="email"
      required
      placeholder="E-mail"
    >
  </mat-form-field>
  <mat-form-field class="password-field">
    <input
      matInput
      type="password"
      formControlName="password"
      required
      placeholder="Пароль"
    >
  </mat-form-field>
  <button 
    type="submit"
    mat-stroked-button
    class="login-button"
    [disabled]="!loginForm.valid"
  >
    Войти
  </button>
  <span class="error">{{loginForm.getError('error')}}</span>
  <mat-divider></mat-divider>
  <p class="help">Нет аккаунта?
    <a routerLink="/register">Зарегистрироваться</a>
  </p>
  <p class="help">
    Забыли <a routerLink="/password-reset">пароль</a>?
  </p>
</form>