<form [formGroup]="formGroup">
  <mat-card-content>{{index + '. ' + oneAnsQuestion.questionText}}</mat-card-content>
  <mat-card-actions>
    <mat-radio-group
      class="radiobutton-container"
      [formControl]="answers">
      <mat-radio-button
        class="answer"
        *ngFor="let ans of oneAnsQuestion.answers"
        [value]="ans.id">
        {{ans.text}}
      </mat-radio-button>
    </mat-radio-group>
  </mat-card-actions>
</form>
