  <mat-grid-tile colspan="3" rowspan="4">
    <app-top-bar></app-top-bar>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2">
    <app-pie-diagram-component></app-pie-diagram-component>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2">
    <app-line-diagram-component></app-line-diagram-component>
  </mat-grid-tile>