<form [formGroup]="newFormGroup">
  <mat-card-content>{{index + '. ' + multipleAnsQuestion.questionText}}</mat-card-content>
  <mat-card-actions>
    <div class="checkbox-container">
      <mat-checkbox
        class="answer"
        *ngFor="let ans of multipleAnsQuestion.answers; let index = index"
        [formControl]="formControls[index]">{{ans.text}}
      </mat-checkbox>
    </div>
  </mat-card-actions>
</form>
