.checkbox-container {
  display: flex;
  margin-left: 2%;
  flex-direction: column;
  margin-right: 3%;
}

.answer {
  margin-bottom: 1%;
}

:host /deep/ .mat-checkbox-inner-container {
  background: white;
}

.answer:hover {
  background: #edeef0;
}

mat-card-content {
  //font-size: 1.3vw;
  font-weight: bold;
}
