.menu-elem {
  font-size: 1.6em;
  color: #495057;
  padding-left: 1vh;
}

.menu-elem > span {
  display: block;
  margin-bottom: 1vh;
}

.menu-elem:hover {
  background: whitesmoke;
}

a {
  text-decoration: none;
  color: #495057;
}

a:hover {
  color: #4a76a8;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  margin-left: 3vw;
}

.sub-menu:last-child {
  margin-bottom: 1vh;
}

fa {
  color: #8ca7bf;
  margin-right: 0.5vw;
}
