<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
<div class="whole-menu" fxLayout="column">
  <div class="menu-elem" *ngFor="let item of menuContent">
    <span>
      <fa name="fas fa-tasks" *ngIf="item.title == 'Тесты'">list_alt</fa>
      <fa name="fas fa-file-code" *ngIf="item.title == 'Задачи'">code</fa>
      <fa name="fas fa-book" *ngIf="item.title == 'Материалы'">collections_bookmark</fa>
      {{item.title}}</span>
    <div class="sub-menu">
      <a [routerLink]="submenu.link" *ngFor="let submenu of item.sub">
        <span class="sub-item">{{submenu.title}}</span>
      </a>
    </div>
  </div>
</div>

