<div class="task">
  <mat-expansion-panel  hideToggle>
    <mat-expansion-panel-header [collapsedHeight]="'9vw'" [expandedHeight]="'9vw'">
      <mat-panel-title>
        <div class = "name">{{task.name}}</div>
        <div class="triangle">
          <button mat-stroked-button (click)="onClick(task.id); $event.stopPropagation()">Подробнее...</button>
        </div>
      </mat-panel-title>
      <mat-panel-description>
        <div class="deadline" matTooltip="Дата сдачи">
          <mat-icon >timer</mat-icon>
          <span class="gray">{{isAssignments() | date}} </span>
        </div>
        <div class="assigner" matTooltip="Назначил(а)">
          <mat-icon>assignment_ind</mat-icon>
          <span class = "gray">{{isName()}}</span>
        </div>
        <div class="hard" matTooltip="Сложность задачи">
          <mat-icon >stars</mat-icon>
          <span class = "gray">{{task.weight}}</span>
        </div>
      </mat-panel-description>
      <div class="third">
        <mat-chip-list class ="tags">
          Теги: 
          <mat-chip (click) = "outputTag(tag.name)" *ngFor="let tag of task.tags | slice:0:3">{{tag.name}}</mat-chip>
        </mat-chip-list>
        <div class="likes">
          <mat-icon>thumb_up</mat-icon>47
          <mat-icon>thumb_down</mat-icon>32
        </div>
      </div>
    </mat-expansion-panel-header>
    <mat-action-row>
      {{task.description | slice:0:300}} {{task.description.length > 300 ? '...' : ''}}
    </mat-action-row>
  </mat-expansion-panel>
</div>
