:host/deep/ .mat-expansion-panel{
  // min-height: 8vw;
  // max-height: 30vw;
  width: 50vw;
}
:host/deep/ .mat-expansion-panel-header{
  padding-left: 2vw;
  padding-right: 0;
}
:host/deep/ .mat-content{
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  padding: 0; 
}
:host/deep/ .mat-expansion-panel-header-title{
  font-size: 1.5vw;
  height: 2.5vw;
  line-height: 3vw;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
:host/deep/ .mat-expansion-panel-header-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0;
  width: 20vw;
}
:host/deep/ .mat-expansion-panel-body{
  padding: 0;
}
.gray{
  color: gray;
}
.third{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.1vw;
  padding-right: 2vw;
}
.likes{
  width: 10vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tags{
  margin-left: 0.3vw;
}
.deadline{
  display: flex;
  align-items: center;
  color: rgb(231, 108, 108);
  width: 7.5vw;
  justify-content: space-between;
}
.hard{
  display: flex;
  align-items: center;
  color: gold;
  width: 2.5vw;
  justify-content: space-between;
}
.assigner{
  display: flex;
  align-items: center;
  color: rgb(73, 73, 236);
  width: 6.8vw;
  justify-content: space-between;
}
.triangle{
  width: 10vw;
}
:host/deep/ .mat-expansion-panel-content{
  font-size: 0.9vw;
  color: rgb(95, 91, 91);
  font-weight: normal;
  line-height: 1.4vw;
  text-align: center;
}
.task{
  padding-bottom: 2vw;
}