:host/deep/ .mat-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100%;
}
:host/deep/ .mat-expansion-panel-body{
  padding: 0;
}
:host/deep/ .mat-action-row{
  // height: 15vw;
  padding: 1vw;
}
.description{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
:host/deep/ .mat-form-field{
  width: 17vw;
}
.submit{
  font-size: 1vw;
  font-weight: bold;
  background: #42A5F5;
  color: white;
}
.name{
  font-size: 1vw;
}
