<mat-expansion-panel hideToggle [expanded]="true">
    <mat-expansion-panel-header [collapsedHeight]="'3vw'" [expandedHeight]="'3vw'">
      <div class="header">Фильтр</div>
      <mat-icon>filter_list</mat-icon>
    </mat-expansion-panel-header>
    <mat-action-row class="description">
      <div class="name">
        <mat-form-field>
          <input #nameFilter matInput placeholder="Название задачи..." [value]="filtersMap.taskName.value" (input)="changeName(nameFilter.value)">
        </mat-form-field>
      </div>
      <div class="tags">
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let tag of filtersMap.tags.values" [selectable]="selectable"
                     [removable]="removable" (removed)="remove(tag)">
                     {{tag}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Теги..."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>
      </div>
      <div class="weight">
        <mat-form-field>
          <mat-select #markFilter placeholder="Выберите оценку..." (selectionChange)="changeMark(markFilter.value)">
            <mat-option *ngFor="let item of items" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="deadline">
          <mat-slide-toggle #sort color="primary" (change)="sorting(sort.checked)">Сортировать по дате сдачи?</mat-slide-toggle>
      </div>
      
    </mat-action-row>
  </mat-expansion-panel>