$header-height: 7vh;
$footer-height: 3vh;
app-header {
  height: $header-height;
  display: block;
}

app-footer {
  height: $footer-height;
  display: block;
  line-height: 3vh;
  height: 3vh;
}

.content {
  display: block;
  height: 100vh - $header-height;
  overflow: auto;
}

.inner-content {
  display: block;
  min-height: 100vh - $header-height - $footer-height;
}
