<div class="top-students-container mat-elevation-z4">
  <mat-toolbar>{{nameOfTop}}</mat-toolbar>
  <table mat-table [dataSource]="students" class="mat-elevation-z8">
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef>Фамилия</th>
      <td mat-cell *matCellDef="let element">{{element.surname}}</td>
    </ng-container>
    <ng-container matColumnDef="name" >
      <th mat-header-cell *matHeaderCellDef>Имя</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
    <ng-container matColumnDef="3" *ngIf = "index == 0">
      <th mat-header-cell *matHeaderCellDef>Название теста</th>
      <td mat-cell *matCellDef="let element">{{element.nameOfTest}}</td>
    </ng-container>
    <ng-container matColumnDef="3" *ngIf = "index == 1">
        <th mat-header-cell *matHeaderCellDef>Ср. отметка</th>
        <td mat-cell *matCellDef="let element">{{element.mark}}</td>
    </ng-container>
    <ng-container matColumnDef="3" *ngIf = "index == 2">
        <th mat-header-cell *matHeaderCellDef>Балл рейтинга</th>
        <td mat-cell *matCellDef="let element">{{element.mark}}</td>
    </ng-container>
    <ng-container matColumnDef="3" *ngIf = "index == 3">
        <th mat-header-cell *matHeaderCellDef>Кол-во сданных тестов</th>
        <td mat-cell *matCellDef="let element">{{element.amountOfTests}}</td>
    </ng-container>
    <ng-container matColumnDef="4" *ngIf = "index == 0">
      <th mat-header-cell *matHeaderCellDef>Отметка</th>
      <td mat-cell *matCellDef="let element">{{element.mark}}</td>
    </ng-container>
    <ng-container matColumnDef="4" *ngIf = "index == 1">
        <th mat-header-cell *matHeaderCellDef>Дата сдачи</th>
        <td mat-cell *matCellDef="let element">{{element.date | date}}</td>
    </ng-container>
      <ng-container matColumnDef="4" *ngIf = "index == 2">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>
        <ng-container matColumnDef="4" *ngIf = "index == 3">
            <th mat-header-cell *matHeaderCellDef>Кол-во сданных задач</th>
            <td mat-cell *matCellDef="let element">{{element.amountOfTasks}}</td>
          </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

