.example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0.7vw;
    border-radius: 8px;
}

.tabBar {
    position: absolute;
    height: 30em;
    width: 27em;
    left : 40em; right: 10em; top: 10em; bottom: 10em ;
}

ol.a {
    list-style-type: upper-roman;
}

li {
    margin-top: 1vw;
}

table {
    width: 100%;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  //background: #8cb5e9;
}
:host /deep/ th.mat-header-cell {
  text-align: center
}

.top-students-container {
  text-align: center;
}
