<div class = "content" >
  <div class="tasks">
    <app-task [task]="task" *ngFor="let task of tasks" (tag)="changeTag($event)"></app-task>
  </div>
  <div class="filter">
    <app-filter
      [filtersMap]="filtersMap" 
      [tag]="tag"
      (tagRemoved)="removeTag($event)"
      (tagAdded)="changeTag($event)"
      (nameChange)="changeName($event)"
      (markChange)="changeMark($event)"
      (sort)="sorting($event)">
    </app-filter>
    <button mat-button (click)="onClick()"> nlkwef</button>
  </div>  
</div>

