.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 90vh;
  overflow: auto;
}
.tasks{ 
  padding-top: 2vw;
}
.filter{
  padding-top: 2vw;
  // padding-right: 1vw;
  width: 20vw;
  position: absolute;
  margin-left: 52.5vw;
}
