<div class="dashboard" fxLayout="row" fxLayoutGap="5vw">
  <app-menu-component [menuContent]="menuItems" fxLayout="column" fxFlex="15"></app-menu-component>
  <div fxLayout="column" fxFlex="85">
    <router-outlet></router-outlet>
  </div>
</div>
