<mat-card>
  <div class="task">
    <div class="task-header">
      <div class="task-name">
        Название задачи
      </div>
      <div class="info">
        <div class="deadline" matTooltip="Дата сдачи">
          <mat-icon >timer</mat-icon>
          <span class="gray">Jun 15, 2015</span>
        </div>
        <div class="assigner" matTooltip="Назначил(а)">
          <mat-icon>assignment_ind</mat-icon>
          <span class = "gray">{{task.assignments[0].assignerId}} </span>
        </div>
        <div class="hard" matTooltip="Сложность задачи">
          <mat-icon >stars</mat-icon>
          <span class = "gray"></span>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="content">
      <div class="tags">
        <mat-chip-list class ="tags">
          Теги: 
          <mat-chip *ngFor="let tag of mockTags">{{tag}}</mat-chip>
        </mat-chip-list>
      </div>
      <div class="description">
        <mat-expansion-panel hideToggle> 
          <mat-expansion-panel-header [collapsedHeight]="'3vw'" [expandedHeight]="'3vw'">
            <div class="header">Условие задачи</div>
            <mat-icon color="green">description</mat-icon>
          </mat-expansion-panel-header>
          <mat-action-row>
           
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="open()" (closed)="close()" hideToggle>
          <mat-expansion-panel-header [collapsedHeight]="'3vw'" [expandedHeight]="'3vw'">
            <div class="header">Демонстрационные входные и выходные файлы</div>
            <mat-icon color="green">{{isOpened ? 'folder_open' : 'folder'}}</mat-icon>
          </mat-expansion-panel-header>
          <mat-action-row>
            <app-preview-code></app-preview-code>
          </mat-action-row>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="history">

  </div>
</mat-card>