:host/deep/ .mat-card {
  width: 77.5vw;
  height: 88vh;
  padding: 0;
  margin-top: 0.5vw;
  display:flex;
}
:host/deep/ .mat-divider {
  margin: 0;
}
.task {
  width: 50.4vw;
  height: 100%;
}
.task-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 8vh;
  padding-left: 1vw;
  padding-right: 1vw;
}
.task-name {
  font-size: 1.5rem;
}
.info {
  width: 30vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.gray{
  color: gray;
  font-size: 0.9rem;
}
.deadline{
  display: flex;
  align-items: center;
  color: rgb(231, 108, 108);
  width: 7.5vw;
  justify-content: space-between;
}
.hard{
  display: flex;
  align-items: center;
  color: gold;
  width: 2.5vw;
  justify-content: space-between;
}
.assigner{
  display: flex;
  align-items: center;
  color: rgb(73, 73, 236);
  width: 6.8vw;
  justify-content: space-between;
}
.content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  // padding: 1.4vw;
  height: 74vh;
}
.description {
  width: 50.38vw;
}
:host/deep/ .mat-expansion-panel-body{
  padding: 0;
}
:host/deep/ .mat-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100%;
}
.history {
  width: 27.1vw;
  height: 100%;
}
