.answer {
  margin-bottom: 1%;
}

.answer:hover {
  background: #edeef0;
}

mat-card-content {
  //font-size: 1.3vw;
  font-weight: bold;
}

textarea {
  font-weight: bold;
}

:host /deep/ .mat-form-field-wrapper { //задаёт отступ textarea
  margin-left: 7%;
}

:host /deep/ .mat-form-field-infix { //задаёт ширину textarea
  width: 40vw;
}
