<form [formGroup]="formGroup">
  <mat-card-content>{{index + '. ' + textareaAnsQuestion.questionText}}</mat-card-content>
  <mat-card-actions>
    <mat-form-field>
    <textarea
      #input
      matInput
      [formControl]="currentAnswer"
      type="text"
      placeholder="Ваш ответ"
      matTextareaAutosize>
    </textarea>
    </mat-form-field>
  </mat-card-actions>
</form>

