.test-container {
  width: 90%;
  background: white;
}

mat-progress-bar {
  margin-bottom: 2vh;
}

mat-divider {
  margin-bottom: 2vh;
}

mat-card-header {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  color: #5681a8;
  margin-bottom: 3vh;
  margin-right: 5%;
}

mat-card {
  background: #f6f6f7;
  margin: 3vh 0 3vh;
  border: none;
}

mat-card-content {
  //font-size: 1.3vw;
  font-weight: bold;
}

.button-wrapper {
  text-align: center;
}

button {
  font-size: 1vw;
  font-weight: bold;
  background: #2ecc71;
  color: white;
}

mat-card-header button {
  position: absolute;
  right: 3vw;
}

mat-card-content  button {
  margin-bottom: 3vh;
}

button:hover {
  background: #29b765;
}

.mat-card > .content:last-child, //override default angular material style
.content {
  height: 60vh;
  margin: 0 -24px -24px;
  padding: 0 24px 24px;
}

.test-container {
  overflow: auto;
}

.preventcopy {
  -webkit-user-select: none;
}
