<mat-card class="test-container">
  <mat-card-header>Какое-то рандомное название теста
    <div class="button-wrapper">
      <button mat-button type="submit">Завершить</button>
    </div>
  </mat-card-header>
  <mat-progress-bar mode="determinate" [value]="currentValue"></mat-progress-bar>
</mat-card>
<mat-card class="test-container">
  <mat-card-content class="content">
    <form [formGroup]="formGroup">
      <mat-card
        class=".mat-elevation-z0"
        *ngFor="let question of questions; let i = index"
        [ngSwitch]="question.type">
        <app-one-answer-question
          *ngSwitchCase="questionType.OneAns"
          [formGroup]="formGroup"
          [oneAnsQuestion]="question"
          [index]="i+1"
          class="preventcopy">
        </app-one-answer-question>
        <app-multiple-answers-question
          *ngSwitchCase="questionType.MultipleAns"
          [formGroup]="formGroup"
          [multipleAnsQuestion]="question"
          [index]="i+1"
          class="preventcopy">
        </app-multiple-answers-question>
        <app-input-answer-question
          *ngSwitchCase="questionType.InputAns"
          [formGroup]="formGroup"
          [inputAnsQuestion]="question"
          [index]="i+1"
          class="preventcopy">
        </app-input-answer-question>
        <app-textarea-answer-question
          *ngSwitchCase="questionType.TextareaAns"
          [formGroup]="formGroup"
          [textareaAnsQuestion]="question"
          [index]="i+1"
          class="preventcopy">
        </app-textarea-answer-question>
      </mat-card>
      <div class="button-wrapper bottom">
        <button mat-button type="submit">Завершить</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>




