@import '../node_modules/@angular/material/theming';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@include mat-core();

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

:host /deep/ app-root {
  height: 100%;
  display: flex;
}

body {
  //display: flex;
  //flex-direction: column;
  background: #edeef0;
  margin: 0;
}

.content {
  height: 100%;
}

