.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  // padding-top: 1em;
}

.registration-form-header {
  margin: 0;
}

.login-button {
  margin-bottom: 1em;
}

.email-field {
  // width: calc("25vw + 1em");
  width: 22em;
}

mat-form-field {
  font-size: 1em; 
  width: 10em;
  text-align: center;
}

.columns {
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  // min-width: 25vw;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
}

.divider {
  margin: 0 1em;
  display: inline-block;
}

.home-divider {
  margin-top: 1em;
}

a:hover {
  cursor: pointer;
}

.mat-icon {
  margin: 0;
}

// .lower-form {
//   margin-top: 1em;
// }

.mat-divider {
  width: 100%;
  margin: 1em 0;
}

.submit-button {
  // margin-bottom: 1em;
  margin-top: 1em;
}