<form
  class="registration-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h1 class="registration-form-header">
    Регистрация
  </h1>
  <mat-divider></mat-divider>
  <mat-form-field class="email-field">
    <input
      required
      matInput
      formControlName="email"
      type="email"
      placeholder="E-mail">
  </mat-form-field>
  <span>
    <mat-form-field>
      <input
        required
        matInput
        formControlName="name"
        type="text"
        placeholder="Имя">
    </mat-form-field>
    <span class="divider"></span>
    <mat-form-field>
      <input
        required
        matInput
        formControlName="surname"
        type="text"
        placeholder="Фамилия">
    </mat-form-field>
  </span>
  <mat-form-field>
    <mat-select formControlName="role" placeholder="Роль">
      <mat-option value="student">Студент</mat-option>
      <mat-option value="teacher">Преподаватель</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-divider></mat-divider>
  <div class="lower-form">
    <div *ngIf="form.value.role == 'student'">
      <div>
          <mat-form-field>
            <mat-select
              required
              formControlName="university"
              placeholder="Университет"
              (selectionChange)="onUniversityChange()"
            >
              <mat-option *ngFor="let university of universities" [value]="university.name">
                {{university.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span class="divider"></span>
          <mat-form-field>
            <mat-select 
              required
              matInput
              formControlName="faculty"
              type="text"
              placeholder="Факультет"
            >
              <mat-option *ngFor="let faculty of currentFaculties" [value]="faculty">
                {{faculty}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
        <mat-form-field>
          <input matInput required type="number" formControlName="graduationYear" placeholder="Год окончания">
        </mat-form-field>
        <span class="divider"></span>
        <mat-form-field>
          <mat-select
            required
            formControlName="primarySkill"
            placeholder="Primary skill"
          >
            <mat-option *ngFor="let primarySkill of primarySkills" [value]="primarySkill">
              {{primarySkill}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="form.value.role == 'teacher'">
      <mat-form-field>
        <mat-select
          required
          formControlName="university"
          name="university"
          placeholder="Место работы"
        >
          <mat-option *ngFor="let university of universities" [value]="university.name">
            {{university.name}}
          </mat-option>
          <mat-option value="other">
            Не университет
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span class="divider"></span>
      <mat-form-field>
        <mat-select required formControlName="primarySkill" placeholder="Primary skill">
          <mat-option *ngFor="let primarySkill of primarySkills" [value]="primarySkill">
            {{primarySkill}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <button mat-stroked-button class="submit-button" [disabled]="!form.valid" type="submit">Зарегистрироваться</button>
</form>