<mat-tab-group dynamicHeight fxLayout="column" fxFlex="80">
  <mat-tab *ngFor="let label of labels; let i = index" label = "Top #{{i + 1}}">
    <app-top-students [nameOfTop]=label [index] = i></app-top-students>
  </mat-tab>
</mat-tab-group>

